# Git
.git
.gitignore

# python
__pycache__/
*.py[cod]
*$py.class

# python build artifacts
build/
*.egg-info/

# pyenv
.python-version

# environments
*.env

# local reqires
requirements-local.txt

# linters, tests & etc.
.mypy_cache/
.pytest_cache/
.ruff_cache/
tests/

# MacOS specific
.DS_Store

# Docker
Dockerfile
.dockerignore

# make
Makefile
